body {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}


.nav-h1 h1 {
  color: var(--light-text, #fff);
  text-align: center;

  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px; /* 110% */
  letter-spacing: 0.2px;
}

.nav-h1 p {
  color: var(--light-text, #fff);
  text-align: center;

  /* Sub Heading */

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

.nav-button-flex {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.nav-button {
  cursor: pointer;
  all: unset;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  background: var(--primary, #4452fe);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);

  color: var(--light-text, #fff);

  /* Button */

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}

.nav-btn-2 {
  all: unset;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  border: 1px solid var(--light-text, #fff);

  /* shadow */
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  color: var(--light-background, #fff);

  /* Button */

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}

.nav-img {
  width: 1003px;
  margin-left: 6rem;
}

// article

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;

  .main-line-img{
          position: absolute;
          top: 48rem;
          right: 30rem;
        }

  .main_title {
    color: var(--light-text, #fff);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    margin-bottom: 27px;
  }

  .main_paragraph {
    color: var(--light-text, #fff);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-bottom: 80px;
  }

  .main_inside_box {
    display: flex;
    align-items: center;

    .main_img {
      width: 752px;
      height: 759px;
    }

    .main_inside_box_in {
      margin-left: 27px;

      .main_box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .main_icon-1 {
          width: 25px;
          height: 23px;
        }

        .main_title {
          color: var(--light-text, #fff);
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0.1px;
          margin-left: 10px;
        }

        

       
        .main_icon-2 {
          width: 29px;
          height: 30px;
        }

        .main_icon-3 {
          width: 41px;
        }
      }

      .main_text-p {
        color: var(--light-text, #fff);
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// aside

aside{
  display: flex;
  justify-content: center;
padding: 10px;
align-items: center;
gap: 10px;
}

.aside-contact{
  color: var(--light-text, #FFF);

/* Second Headline */

font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px; /* 119.231% */
letter-spacing: 0.2px;
}

.aside-p{
  color: var(--light-text, #FFF);
text-align: center;

/* Sub Heading */

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
}

aside{
  display: flex;
  flex-direction: column;
}

.aside-flex {
  display: flex;
  gap: 33px;
}


.aside-bgcolor{
  display: flex;
 
width: 476px;
padding: 40px 0px;
flex-direction: column;
align-items: center;
gap: 57px;
border-radius: 10px;
border: 1px solid #D3D3D3;
background:  #FFF;

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.aside-p-2{
  color: var(--second-text, #5C5C5C);
text-align: center;

/* Paragraphe */
margin-top: -3rem;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.2px;
}

.button-aside{
  cursor: pointer;
  all: unset;
  display: flex;
height: 52px;
padding: 1px 56px;
align-items: center;
background: var(--primary, #4452FE);

/* shadow */
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.aside-img{
  margin-top: -2.8rem;
}

.button-aside-2{
  cursor: pointer;
  all: unset;
  display: flex;
height: 52px;
padding: 1px 56px;
align-items: center;
background: var(--primary, #4452FE);
margin-top: -2rem; 
}

// aside

.article-gallery{
  color: var(--light-text, #FFF);

/* Second Headline */
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px; /* 119.231% */
letter-spacing: 0.2px;
}