
.zohid {
    height: 200px;
    width: 420px;
    margin-top: 500px;
    justify-content: center;
    margin: auto;

}

.zohid h2 {
    color: var(--light-text, #FFF);

/* Second Headline */
font-family: Graphik;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px; /* 119.231% */
letter-spacing: 0.2px;
    margin-left: 140px;
}

.zohid p {
 color: var(--light-text, #FFF);
text-align: center;
font-family: Graphik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.2px;
}

.icon {
    margin-left: -207px;
    display: flex;
    gap: 74px;
    margin-top: 55px;
}

.icom img{
    width: 60px;
height: 70.547px;
}

.header-loginn{
        all: unset;
        margin-top: 54px;
        margin-left: 6rem;
        display: flex;
        // align-items: center;
      
        padding: 0px 36px;
      
        height: 60px;
        border: 1px solid var(--light-text, #fff);
        align-items: center;
      
        box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
        flex-shrink: 0;
        color: #fff;
      
        font-family: Graphik;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px; /* 147.059% */
        letter-spacing: 0.2px;
}


.section-1 {
width: 1579px;
// height: 884px;
padding: 50px, 20px, 50px, 20px;
gap: 50px;
 background-color: aqua;
 margin: auto;
 margin-top: 300px;
}

.section-1 h2 {
color: var(--light-text, #FFF);
font-family: Graphik;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px;
letter-spacing: 0.2px;
align-items: center;
margin-left: 700px;
}

.card {
    display: flex;
    gap: 23px;
    margin: auto;
    margin-left: 300px;
}

.card-1{
width: 430px;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
border-radius: 10px;
border: 1px solid #DEDEDE;
background: var(--dark-background, #181818);
}

.card-1 p {
width: 320px;
height: 168px;

color: var(--light-text, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.2px;
}

.card-2 {
    height: 199px;
width: 430px;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
border-radius: 10px;
border: 1px solid #DEDEDE;
background: var(--dark-background, #181818);
}

.card-2 p {
color: var(--light-text, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.2px;
}

.cards{
    padding-top: 50px;
    display: flex;
    gap: 23px;
    margin-top: 50px;
    margin: auto;
    margin-left: 300px;
}

.card-3 {
    margin-top: -35px;
height: 206px;
padding: 40px;
border-radius: 10px;
border: 1px;
width: 430px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
border-radius: 10px;
border: 1px solid #DEDEDE;
background: var(--dark-background, #181818);
}

.card-3 p {
color: var(--light-text, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.2px;
}

.card-4{
    margin-top: -94px;
height: 238px;
padding: 40px;
border-radius: 10px;
border: 1px;
width: 430px;
flex-direction: column;
align-items: flex-start;
border-radius: 10px;
border: 1px solid #DEDEDE;
background: var(--dark-background, #181818);
}

.card-4 p {
color: var(--light-text, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.2px;
}

.section-2{
 display: flex;
 width: 1200px;
height: 370px;
margin: auto;
align-items: center;
gap: 86px;
border-radius: 33px;
background: #343434;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.left-1{
 display: flex;
width: 544px;
padding: 17px 94px;
flex-direction: column;
align-items: flex-start;
gap: 37px;
}

.left-1 h2{
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
}